{% extends "base.html" %} 
{% load static %} 

{% block body %}


<!-- {% include 'carrossel.html' %}  -->
<img
src="{% static 'Imagens/lotes-cascavel.jpg' %}"
alt="Imagem 1 Desktop"
/>

<section class="banner-grid">        
  <h2>Imóveis Em Destaque:</h2>    
      
  <div class="produtos">
    <div class="produtos__grade">
        {% for imovel in imoveis_destaque %}
            <a
                href="{% url 'ver_imovel' imovel.id %}"
                class="produto"
            >
                <div class="produto__imagem">
                <img
                    src="{{ imovel.thumbnail.url }}"
                    alt="Imagem do Produto"
                />
                </div>

                <div class="produto__textos">
                <p class="produto__titulo">{{ imovel.titulo }}</p>
                <div class="produto__preco">
                    <p class="produto__avista">R$ {{ imovel.preco }}</p>
                    <p class="produto__parcelado">5x R$ 69<sup>,80</sup></p>
                </div>
                </div>
            </a>
        {% endfor %} 
    </div>
  </div>
  <!-- <div>
    <h2>Bairros</h2>
{% for bairro in bairros %}
    <p>
        {{ bairro.descricao }}
    </p>
    {% for imovel in bairro.imovel_set.all %}
            <a
            href="{% url 'ver_imovel' imovel.id %}"
            class="produto"
        >
            <div class="produto__imagem">
            <img
                src="{{ imovel.thumbnail.url }}" width="150"
                alt="Imagem do Produto"
            />
            </div>

            <div class="produto__textos">
            <p class="produto__titulo">{{ imovel.titulo }}</p>
            <div class="produto__preco">
                <p class="produto__avista">R$ {{ imovel.preco }}</p>
                <p class="produto__parcelado">5x R$ 69<sup>,80</sup></p>
            </div>
            </div>
        </a>
    {% endfor %} 
{% endfor %} 
  </div> -->
</section>

{% endblock %}

